parameters:
    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
    scanDirectories:
        - var/cache/test/Symfony/Config
    doctrine:
        objectManagerLoader: phpstan/doctrine.php
    level: 6
    paths:
        - config/
        - src/
        - tests/
