parameters:
  symfony:
    containerXmlPath: 'var/cache/dev/App_KernelDevDebugContainer.xml'
    scanDirectories:
      - 'var/cache/dev/Symfony/Config'
    scanFiles:
      - 'vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Model/'
            - '../src/Kernel.php'

    Faker\Generator:
        factory: ['App\Faker\FrenchGeneratorFactory', 'create']

    App\Doctrine\EntityListener\UserListener:
        tags:
            - { name: doctrine.orm.entity_listener }

    gedmo.listener.sluggable:
        class: Gedmo\Sluggable\SluggableListener
        tags:
            - { name: doctrine.event_listener, event: 'prePersist' }
            - { name: doctrine.event_listener, event: 'onFlush' }
            - { name: doctrine.event_listener, event: 'loadClassMetadata' }
